@font-face {
    font-family: "Proxima Nova";
    src: url(../font/AnyConv.com__ProximaNova-Regular.woff2),
    url(../font/ProximaNova-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../font/AnyConv.com__ProximaNova-Semibold.woff2),
    url(../font/ProximaNova-Semibold.woff);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../font/AnyConv.com__ProximaNova-Bold.woff2),
    url(../font/ProximaNova-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Myriad Pro";
    src: url(../font/MyriadPro-Regular.woff2),
    url(../font/MyriadPro-Regular.woff);
    font-weight: 400;
    font-style: normal;
}