@font-face {
    font-family: "PT sans";
    src: url(../font/PTSans-Regular.woff2),
    url(../font/PTSans-Regular.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Serif";
    src: url(../font/NotoSerif-Bold.woff2),
    url(../font/NotoSerif-Bold.woff);
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: "PT sans";
    src: url(../font/PTSans-Bold.woff2),
    url(../font/PTSans-Bold.woff);
    font-style: bold;
    font-weight: 700;
}


@font-face {
    font-family: "Noto Serif";
    src: url(../font/NotoSerif-Medium.woff2),
    url(../font/NotoSerif-Medium.woff);
    font-style: normal;
    font-weight: 500;
}


@font-face {
    font-family: "Noto Serif";
    src: url(../font/NotoSerif-ExtraBold.woff2),
    url(../font/NotoSerif-ExtraBold.woff);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Noto Serif";
    src: url(../font/NotoSerif-SemiBold.woff2),
    url(../font/NotoSerif-SemiBold.woff);
    font-style: normal;
    font-weight: 600;
}


@font-face {
    font-family: "Noto Serif";
    src: url(../font/NotoSerif-Regular.woff2),
    url(../font/NotoSerif-Regular.woff);
    font-style: normal;
    font-weight: 400;
}


