//color 
$color-red: #FF715B;
$color-white: #fff;
$color-black: #2C2C2C;
$color-gray: #F6F6F6;
$color-yellow: #FFCA45;
$color-lblue: #9CD9EC;
$color-bgray:  #F1E0DD;
$color-grayy: #A79997;
$color-witems:  #F8F8F8;






//padding and margin 
$indent-up: 180px;
$indent-gap: 30px;




