* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
 --сolor-blue: #05A0D0;
 --color-white: #fff;
 --color-pol-white : #E6F0FC;
 --color-blac-blue:  #4D5778;
}
a {
    text-decoration: none;
    color: var(--color-white);
}

body { 
    background: none;
    font-family: Inter;
}

main {
    height: 100%;
    margin-bottom: 400px;
}


.header { 
    height: 200px;
    background: linear-gradient(110.04deg, var(--сolor-blue) -0.02%, #29CBFE 99.98%);

}

.post-absolyte {
    position: absolute;
    top: 120px;
    
}

.share {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: var(--color-white);
    border-radius: 100%;
    background-size: cover;
}

.user-name { 
    position: absolute;
    display: inline-block;
    top: 35px;
    left: 170px;
    font-family: Roboto;
    font-size: 36px;
    width: 300px;
    color: var(--color-white);
}

.button {
    top: 220px;
    position: absolute;
    left: 360px; 
}

.button-profil { 
    font-family: Roboto;
    font-size: 24px;
    color: var(--сolor-blue);
    background-color: var(--color-white);
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 15px;
}


.profil__history {
    text-align: start;
    display: flex;
    margin-top: 50px;
    margin-top: 25px;
    background-color: var(--color-pol-white);
    height: 200px;
    border-radius: 50px;
}

.qr__code { 
    width: 150px;
    height:150px;
    margin: 20px ;
}


.name__history { 
    padding-top: 5px;
}

.link {
    font-size: 18px;
    color: #4D5778;
    padding-top: 15px;
}

.container-qr { 
    margin-top: 100px;
    text-align: center;
}

.create-Qr-code { 
    padding: 10px;
    color: var(--color-white);
    background-color: var(--сolor-blue);
    border-radius: 25px;
}

.message__history{
    display: block;
    margin-top: 30px;
    font-size: 28px;
    font-family: Inter;
    text-align: center;
    color: gray;
}

.reset { 
    font-size: 18px;
    background-color: #fff;
    color: rgb(255, 0, 0);
    border: none;
    padding: 5px;
    text-shadow:  0 0 1px red;
    cursor: pointer;
}

.delete { 
    margin-top: 60px;
    color: red;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    background-color: var(--сolor-blue);
    padding: 10px;
    font-size: 18px;
}


@media (max-width: 500px ) {
    .header-left{
        padding-left: 10px;
    }
    .button {
        margin: 15px 10px;
    }
    .batton { 
        width: 20em;
    }
   
    .my{
        background-color: linear-gradient(110.04deg, var(--сolor-blue) -0.02%, #29CBFE 99.98%);
        padding: 0;
        border: none;
        color: var(--color-white);
    }
    .items:not(:last-child) {
        padding-bottom: 4px;
    }
    
    .nav a { 
        display: none;
    }
    .nav a.visible { 
        display: block;
        /* float: right; */
        /* margin: 10px 5px; */
        font-size: 25px;
    }

    nav { 
        width: 100%;
    }
    .nav.resp{
        position: relative;
        top: 50px;
        display: block;
       
    }
   
    .nav.resp a.visible {
     position: absolute;
     top: -40px;
    
    }
    .nav.resp a{
        width: 100px;
        display: block;
        text-align: center;
        margin-top: 5px;
    }
    .button {
        top: 200px;
        position: absolute;
        left: 110px;
        display: flex; 
    }
    .user-name {
        width: 200px;
        font-size: 24px;
        left: 105px;
    }
    .share { 
        width: 100px;
        height: 100px;
    }
    .post-absolyte { 
        top: 135px;
    }
    .delete { 
        margin: 10px auto;
    }
    .name__history {
        font-size: 18px;
    }
   
}

a:not(:last-child)
{
    margin-right: 10px;
}
.visible { 
    display: none;
}

